<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dnevnik_Pitaniya.Properties.Settings.DnevnikConnectionString"
            connectionString="Data Source=DESKTOP-1UAL4MJ\SQLEXPRESS;Initial Catalog=Dnevnik;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>